PLANFIX_BASE_URL=https://your-account.planfix.ru/rest/
PLANFIX_API_TOKEN=

C_REST_CLIENT_ID=
C_REST_CLIENT_SECRET=

DEFAULT_BITRIX_USER_ID=627
MIGRATION_ITERATIONS=1000
MIGRATION_TASKS_PER_ITERATION=100
MIGRATION_BATCH_SIZE=50
